<div class="modal-header">
	<h3 class="modal-title"></h3>
</div>
<form class="form-horizontal">
	<fieldset>
		<div class="modal-body">
			Cambiar contraseña
			<div class="form-group">
				<label class="col-md-4 control-label">Nueva contraseña</label>
				<div class="col-md-2">
					<input type="password" class="form-control" placeholder="No debe ser más de 8 caracteres"
						ng-model="edituser.newpassword" required>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<div class="col-md-7">
				<button class="btn btn-primary" type="submit" ng-click="changePassword()">Ok, cambiar contraseña ya</button>
			</div>
		</div>
	</fieldset>
</form>
