<div class="modal-header">
	<h3 class="modal-title">Cambiar contraseña</h3>
</div>
<form class="form-horizontal">
	<br>
	<fieldset>
			<div class="form-group">
				<label class="col-md-5 control-label">Nueva contraseña</label>
				<div class="col-md-2">
					<input type="password" class="form-control" value=""
						placeholder="" required ng-model="modifieduser.password">
				</div>
			</div>
		</div>
	</fieldset>
			<div class="modal-footer" style="{background-color:#ffffff;}">
			<div class="col-md-7">
				<button class="btn btn-primary" type="submit" ng-click="changePassword()">Ok, cambiar contraseña ya</button>
			</div>
		</div>
</form>

<!--   -->
