<div class="modal-header">
	<h3 class="modal-title">Bienvenido a SupermercadosDelta Plus!!!</h3>
</div>
<form class="form-horizontal">
	<fieldset>
		<div class="modal-body">
			<h4>Ingrese sus credenciales</h4>
			<br>
			<div class="form-group">
				<label class="col-md-4 control-label">Usuario</label>
				<div class="col-md-8">
					<input type="text" class="form-control" placeholder=""
						ng-model="user.name" required autofocus>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label">Clave</label>
				<div class="col-md-8">
					<input type="password" class="form-control" placeholder=""
						ng-model="user.password" required>
				</div>
			</div>
			
		</div>
		<div class="modal-footer">
			<div class="col-md-3">
				<button class="btn btn-primary" type="submit" ng-click="sendMailToRecoverPasswordFromLoginForm()">Se olvidó de su contraseña? recupérela!</button>
			</div>
			<div class="col-md-8">
				<button class="btn btn-primary" type="submit" ng-click="login()">Ingresar</button>
			</div>
			
		</div>

	</fieldset>
</form>
