<div class="modal-header">
	<h3 class="modal-title" id="modal-title">
		Cambiar Roles
	</h3>
	<h4>
		Nota: si escribe un nuevo rol que ya existe, dicho cambio no se va a guardar en el sistema.
	</h4>
</div>
<div class="modal-body" id="modal-body">
	<form class="form-horizontal">
		<fieldset>
			<div class="form-group">
				
				<label ng-hide="$ctrl.largoDelArregloDeRoles <= 1" class="col-md-4 control-label">Descripción del rol que se quiere reemplazar</label>
				<div ng-hide="$ctrl.largoDelArregloDeRoles <= 1" class="col-md-7">
					<input type="text"
						placeholder="" class="form-control input-md"
						required ng-model="$ctrl.nuevorol.descriptionviejorol">
					<br><br><br><br>
				</div>

				
				<label class="col-md-4 control-label">Descripción del nuevo rol a cambiar por el que está actualmente</label>
				<div class="col-md-7">
					<input type="text"
						placeholder="" class="form-control input-md"
						required ng-model="$ctrl.nuevorol.description">
				</div>
			</div>

		</fieldset>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Cambiar rol</button>
	<button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
</div>

