<div class="modal-header">
	<h3 class="modal-title" id="modal-title">
		Editar usuario
	</h3>
	<h5>Nota: Si deja un campo en blanco, lo que había anteriormente se va a dejar como estaba.</h5>
</div>
<div class="modal-body" id="modal-body">
	<form class="form-horizontal">
		<fieldset>
			<div class="form-group">
				<label class="col-md-4 control-label">Nombre de usuario</label>
				<div class="col-md-7">
					<input type="text"
						placeholder="Nombre de no más de 8 caracteres" class="form-control input-md"
						required ng-model="$ctrl2.instancia.username">
					<br>
				</div>
				<label class="col-md-4 control-label">Contraseña</label>
				<div class="col-md-7">
					<input type="text"
						placeholder="Contraseña de no más de 8 caracteres" class="form-control input-md"
						required ng-model="$ctrl2.instancia.password">
					<br>
				</div>
				<label class="col-md-4 control-label">Nombre</label>
				<div class="col-md-7">
					<input type="text"
						placeholder="" class="form-control input-md"
						required ng-model="$ctrl2.instancia.firstName">
					<br>
				</div>
				<label class="col-md-4 control-label">Apellido</label>
				<div class="col-md-7">
					<input type="text"
						placeholder="" class="form-control input-md"
						required ng-model="$ctrl2.instancia.lastName">
					<br>
				</div>
				<label class="col-md-4 control-label">Correo electrónico</label>
				<div class="col-md-7">
					<input type="text"
						placeholder="" class="form-control input-md"
						required ng-model="$ctrl2.instancia.email">
					<br><br>
				</div>
			</div>

		</fieldset>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="$ctrl2.ok()">Guardar</button>
	<button class="btn btn-default" type="button" ng-click="$ctrl2.cancel()">Cancelar</button>
</div>

