<div class="modal-header">
	<h3 class="modal-title" id="modal-title">
		Nuevo usuario!
	</h3>
</div>
<div class="modal-body" id="modal-body">
	<form class="form-horizontal" name="formulariousuarios">
		<fieldset>

			<div class="form-group">
				<label class="col-md-4 control-label">Nombre de usuario</label>
				<div class="col-md-7">
					<input type="text"
						placeholder="" class="form-control input-md"
						required ng-model="$ctrl.instancia.username" required>
				</div>
				<br><br><br>
				<label class="col-md-4 control-label">Contraseña</label>
				<div class="col-md-7">
					<input type="text"
						placeholder="" class="form-control input-md"
						required ng-model="$ctrl.instancia.password" required>
				</div>
				<br><br><br>
				<label class="col-md-4 control-label">Nombre</label>
				<div class="col-md-7">
					<input type="text"
						placeholder="" class="form-control input-md"
						required ng-model="$ctrl.instancia.firstName" required>
				</div>
				<br><br><br>
				<label class="col-md-4 control-label">Apellido</label>
				<div class="col-md-7">
					<input type="text"
						placeholder="" class="form-control input-md"
						required ng-model="$ctrl.instancia.lastName" required>
				</div>
				<br><br><br>
				<label class="col-md-4 control-label">Correo electrónico</label>
				<div class="col-md-7">
					<input type="text"
						placeholder="" class="form-control input-md"
						required ng-model="$ctrl.instancia.email" required>
				</div>
				<br><br><br>
				<label class="col-md-4 control-label">Cuenta expirada?</label>
				<div class="col-md-7">
					<input type="text"
						placeholder="" class="form-control input-md"
						required ng-model="$ctrl.instancia.accountExpired" required>
				</div>
				<br><br><br>
				<label class="col-md-4 control-label">Credenciales expiradas??</label>
				<div class="col-md-7">
					<input type="text"
						placeholder="" class="form-control input-md"
						required ng-model="$ctrl.instancia.credentialsExpired" required>
				</div>
				<br><br><br>
				<label class="col-md-4 control-label">Cuenta blockeada?</label>
				<div class="col-md-7">
					<input type="text"
						placeholder="" class="form-control input-md"
						required ng-model="$ctrl.instancia.accountLocked" required>
				</div>
				<br><br><br>
				<label class="col-md-4 control-label">Cuenta habilitada?</label>
				<div class="col-md-7">
					<input type="text"
						placeholder="" class="form-control input-md"
						required ng-model="$ctrl.instancia.accountEnabled" required>
				</div>
				<br><br><br>
				<label class="col-md-4 control-label">Rol a asignar</label>
				<div class="col-md-7">
					<input type="text"
						placeholder="" class="form-control input-md"
						required ng-model="$ctrl.instancia.roles.description" required>
				</div>
								<br><br><br>
				<label class="col-md-4 control-label">Privilegio a asignar</label>
				<div class="col-md-7">
					<input type="text"
						placeholder="" class="form-control input-md"
						required ng-model="$ctrl.instancia.privileges.description" required>
				</div>
				<br><br><br>
			</div>
		</fieldset>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Guardar</button>
	<button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
</div>

